body {
    background: url(bg.jpeg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}

h1 {
    font-family: "Berkshire Swash", serif;
    display: inline-block;
    background: rgb(255, 89, 0);
    background: linear-gradient(90deg, rgba(255, 89, 0, 1) 0%, rgba(255, 167, 0, 1) 80%);
    font-size: 100px;
    padding: 0 5px;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px brown;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Gloria Hallelujah", cursive;
    background-color: white;
    display: inline-block;
    padding: 0 3px;
    border-radius: 5px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.395);
}

.karta {
    position: relative;
    margin-top: 10px;
    /* для того чтобы убрать пространство между инлайн блоками */
    font-size: 0;
    display: inline-block;
    overflow: hidden;
}


.piratik {
    width: 30px;
    position: absolute;
    top: 370px;
    left: 90px;
    transition: 2s;
    transform: translate(-50%,-100%);
    pointer-events: none;
}

button{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    font-size: 30px;
    padding: 10px;
    width: 220px;
    font-family: "Gloria Hallelujah", cursive;
    border-radius: 25px;
    border: 1px solid gray;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.365);
    cursor: pointer;
    transition: 0.2s;
    z-index: 9;
}

button:hover{
    transform: translate(-50%, calc(80% + 5px));
    box-shadow: none;
    background-color: rgb(219, 218, 218);
}

.trea {
    position: absolute;
    width: 25px;
    transform: translate(-60%, -80%);
    top: 50%;
    left:50%;
    opacity: 0;
    /* transition: 0.3; */
}


.ruls {
    display: none;
    background-color: rgb(249, 249, 249);
    width: 390px;
    padding: 10px 5px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    font-family: "Gloria Hallelujah", cursive;
}

.shtori {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    transition: 0.3s;
}






















